*{
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;
font-family: 'Inter', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: -2rem;
    margin-right: 10rem;
}

.mob .img1{
    position: absolute;
    /* padding-left: 10rem; */
}
.mob .img2{
    position: relative;
    padding-left: 6rem;
    padding-top: 1rem;
    /* padding-left: -10rem; */
}
.loop{
    position: absolute;
}
.mob .s1{
    position: absolute;
    margin-left: -28.3rem;
    margin-top: 7.2rem;
    border-radius: 1.5rem;
    width: 238px;
}
.mob .s2{
    width: 240px;
    position: absolute;
    margin-left: -28.3rem;
    margin-top: 6.1rem;
}
.login{
    border: solid rgba(152, 151, 151, 0.523);
    border-width: 1px;
    padding: 1.3rem;
    margin-left: -10rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login form input, button{
    width: 15rem;
    margin: 3px 0.5rem;
    height: 2rem;
    outline: none;
    border: solid rgba(152, 151, 151, 0.523) 1px;
}
.login form button{
    background-color: rgb(0, 153, 255);
    border-radius: 10px;
    height: 2.2rem;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.logo{
    width: 200px;
    padding-bottom: 2rem;
}
.or{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* color: rgb(24, 10, 10); */
    color: rgb(140, 139, 139);

}
.or p{
    margin-left: 5px;
    font-size: 15px;
    margin-right: 5px;
}
.or .line{
    height: 0px;
    width: 105px;
    border: solid 0.2px rgba(152, 151, 151, 0.523);    
    /* margin-top: 8px; */
    margin:9px;
}
.fb_login{
    display: flex;
    flex-direction: row;
    margin-top: 1.2rem;
    justify-content: center;
}
.fb_login p{
    color: rgb(6, 6, 149);
    font-weight: bold;
    margin-left: 0.8rem;
}
.fb_login img{
    height: 16px;
    padding-top: 2px;
}
.forgot{
    display: flex;
    justify-content: center;
    padding-top: 1.8rem;
    color: rgb(80, 78, 78);
    font-size: 0.9rem;
}
.signup{
    margin-top: 0.5rem;
    padding: 1.2rem;
}
.signup span{
    color: rgb(32, 177, 214);
    font-weight: bold;
    cursor: pointer;
}
.getapp{
    margin-left: -10rem;
}
.getapp p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.getapp .img{
    padding-left: 2rem;
}
.i1{
    padding-right: 2rem;
}
footer{
    display: flex;
    color: rgb(140, 139, 139);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
footer a{
    text-decoration: none;
    padding: 0.3rem;
    font-size: 12px;
    color: rgb(140, 139, 139);
}
footer p{
    padding: 1rem;
    font-size: 12px;

    padding-bottom: 4rem;
}
form input{
    font-size: 13px;
    padding-left: 1rem;
}
input:focus::-webkit-input-placeholder {
    font-size: .70em;
    position: relative;
    top: -11px; 
    transition: 0.2s ease-out;
}
.e1,.e2,.e3,.e4{
    animation: animate 20s infinite;
    opacity: 0;
}
.e1{
    animation-delay: 5s;
}
.e2{
    animation-delay: 10s;
}
.e3{
    animation-delay: 15s;
}
.e4{
    animation-delay: 20s;
}
@keyframes animate{
    10%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
}
.fb{
    background-color: rgb(0, 153, 255);
    border-radius: 10px;
    height: 2.2rem;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding-top: 6px;
}
.fb p{
    color: white;
    padding-top: 2px;
}
.login h3{
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
    color: rgb(140, 139, 139);
}
form p{
    font-size: 13px;
    padding: 0.5rem 3rem;
    text-align: center;
    color: rgb(140, 139, 139);
}
form p span{
    color: blue;
    cursor: pointer;
}
#phone{
    margin-top: 1rem;
}
#signup{
    display: none;
}
.none{
  display: none;  
}
@media screen and (max-width:875px) {
    .mob{
        display: none;
    }
    .main{
        /* margin:auto; */
        margin-left: 20rem;
        margin-bottom: 4rem;
    }
    footer{
        margin: 3rem;
        text-align: center;
    }
    
}
@media screen and (max-width:450px){
    .login{
        border: none;
    }
}